@charset "utf-8";

body {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #000;
  text-align: center;
  font-family: sans-serif;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #fff;
}

a:visited {
  color: #555;
}

.centerpiece, .footer {
  color: #999;
}

.footer {
  height: 2em;
}

.centerpiece {
  font-size: 2em;
  font-size: 3vw;
  -webkit-flex: 1;
  flex: 1;
  padding: 100px 0 20px 0;
  padding: 10vh 0 2vh 0;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  text-shadow: 0 1px 0 #fff;
  margin: 0;
}

.tagline {
  margin: 0;
}

.follow {
  margin: 0.7em;
}
