---
title: Tetheron
---

<div class="centerpiece">
	<p>Coming Soon:</p>
	<h1>Tetheron</h1>
	<p class='tagline'>2-6 player arcing arcade action</p>
	<p class='follow'>Follow us <a href='https://twitter.com/intent/user?screen_name=tetheron'>@tetheron</a></p>
	<%= image_tag("loop.gif") %>
	<p><a href='press.html' class='press-link'>PRESS</a></p>
</div>


<div class='footer'>A game by <a href='http://jceipek.com' target='_blank'>Julian Ceipek</a>, <a href='https://patrickquah.carbonmade.com'>Patrick Quah</a>, and <a href='http://www.juliebuchananmusic.com' target='_blank'>Julie Buchanan</a></div>